<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
     <supportedRuntime version="v2.0.50727"/>
    </startup>
	<appSettings>
		<add key ="loginurl" value="http://yys.athenaiot.cn/login"></add>
		<add key ="account" value="wujy"></add>
		<add key ="prepicurl" value="http://yys.athenaiot.cn/syssrv/authcode?uid="></add>
		<add key ="loginuri" value="http://yys.athenaiot.cn/syssrv/login"></add>
		<add key ="password" value="e10adc3949ba59abbe56e057f20f883e"></add>
		<add key ="testweb" value="http://www.baidu.com"></add>
		<add key ="logaddress" value="E:\\Personal\\Desktop\\"></add>
		<add key ="tessdata" value="F:\\tessdata\\"></add>
		<add key ="sleepingtime" value="10000"></add>
	</appSettings>
	
	
	
	
	
	
</configuration>